* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    border: none;
    background: none;
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.nav>h1 {
    font-size: 24px;
    font-weight: 400;
}

.nav>button>i {
    font-size: 20px;
}

.nav>button {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}


body {
    padding: 0 15%;
}

.skill-table {
    padding: 10px 20px;

}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}


.project-description>li {
    padding: 0 10px;
    margin: 10px 0;
}

.project-description .section {
    margin: 10px 0;
}

.section {
    margin: 10px 0;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 20px;
}

.section-title {
    font-size: 20px;
    background-color: #ddd;
    padding: 10px 20px;
}

.section-content {
    padding: 20px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.2px;
}

article {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.054);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

a>h4 {
    color: rgb(99, 9, 255);
    text-decoration: underline;
}

.sub-section {
    padding: 5px 20px;
    margin-top: 20px;
}

.btn {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(99, 9, 255);
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    body {
        padding: 0;
    }

    .nav {
        padding: 20px;
    }
}